html {
    position: relative;
    min-height: 100%;
}
h1{
    text-align: center;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
    
    color:rgb(202, 224, 217);
    background-image: url(/web215/images/forest.webp);
}
a {
    color:rgb(202, 224, 217);
    text-decoration: none ;
}
.menu-indexu {
    list-style-type: none;
    overflow: hidden;
    width: auto;
    background-color: hsl(158, 64%, 11%, 0.6);
    width: 100%;
   }
.menu-indexl {
    float: left;
    font-size: 25px;
    color:white;
  }
li a, .mydroptoc {
    display: inline-block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
li a:hover, .dropdowntoc:hover .mydroptoc {
    background-color: #ebf6f232;
  }
  
  li.dropdowntoc {
    display: inline-block;
  }
  
  .dropdowntoc-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdowntoc-content a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdowntoc-content a:hover {
     background-color: #f1f1f1;
  }
  
  .dropdowntoc:hover .dropdowntoc-content {
    display: block;
  }
 
  
footer {
    background: rgba(5, 19, 85, 0.3);
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}